.wrapper {
  padding: 10px;
}

.createTreeBtn {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  border: none;

  color: white;
  font-weight: 600;
  font-size: 16px;

  background: linear-gradient(145deg, #16a34a, #065f46);
  color: white;
  box-shadow:
    0 6px 14px rgba(6, 95, 70, 0.35),
    inset 0 1px 0 rgba(255, 255, 255, 0.2);
}

.treesWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.treeItem {
  border: solid;
  padding: 10px;
  width: 200px;
  height: 100px;
  border-radius: 10px;
  cursor: pointer;
}
