@import "@xyflow/react/dist/style.css";

* {
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif, Arial;
  font-size: large;
  background-color: whitesmoke;
  color: #333;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}
